body {
	text-align: center;
}

p {
	border: solid;
    border-color: #2b3e4f;
    border-radius: 5px;
    border-width: 2px;
}

.button-section{
	max-width: 90%;
	border-radius: 5px;
	margin: auto;
	height: auto; /*change height to auto!*/
	margin-bottom: 20px;
	/*background-color: #d16f33;*/
	position: relative;
	z-index: 10;
	background-color: rgba(69,83,97, .56);
	padding: 2.5%;
}

.button-drop {
	border: solid;
	border-color: #2b3e4f;
	border-width: 2px;
	height: 100%;
	border-radius: 5px;
	padding: 5px;
}

button {
	border-radius: 5px;
}

.main-section {
	max-width: 90%;
	border-radius: 5px;
	margin: auto;
	height: auto; /*change height to auto!*/
	background-color: rgba(69,83,97, .56);
	padding-bottom: 2.5%;
	clear: both;
	overflow: hidden; /* this was the key to making the section grow with the inputed gifs */
}

.gif-drop {
	border-radius: 5px;
	float: left;
	width: 61%;
	margin-left: 2.5%;
	margin-right: 1.25%;
	margin-top: 2.5%;
	border: solid;
	border-color: #2b3e4f;
	border-width: 2px;
	height: auto;
	padding: 10px;
}

.posted-gif {
	margin: 5px;
}

.gif-image {
	width: 200px;
    height: 130px;
    border-radius: 5px;
}

.search-section {
	border-radius: 5px;
	float: right;
	height: auto;
	width: 31%;
	margin-right: 2.5%;
	margin-left: 1.25%;
	margin-top: 2.5%;
	text-align: left;
	padding-bottom: 2.5%;
	padding-top: 1%;
	background-color: #3a4a59;
	color: white;
	border: solid;
	border-color: #2b3e4f;
	border-width: 2px;
}

#search-input {
	color: black;
	border-radius: 5px;
}

#submit-button {
	background-color: white;
	border-color: #2b3e4f;
	color: #2b3e4f;
	border-radius: 5px;
	border-width: 2px;
	padding: 0px 7px;
}


.progress {
	position: relative;
}

.progress-bar2 {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-radius: 5px;
}

